<section>
  <h2>BX-Slider (<a href="https://bxslider.com/" target="_blank">docs</a>)</h2>
  <ul class="bxslider">
    <li>
      <img alt="slide-1.jpg" src=<%=require("./../img/slide-1.jpg") %> />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus vel praesentium dolorum animi reiciendis cupiditate assumenda deleniti quos nobis, placeat ratione a? Recusandae, ipsam non dolor tempore quos natus!</p>
    </li>
    <li>
      <img alt="slide-2.jpg" src=<%=require("./../img/slide-2.jpg") %> />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus vel praesentium dolorum animi reiciendis cupiditate assumenda deleniti quos nobis, placeat ratione a? Recusandae, ipsam non dolor tempore quos natus!</p>
    </li>
    <li>
      <img alt="slide-3.jpg" src=<%=require("./../img/slide-3.jpg") %> />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus vel praesentium dolorum animi reiciendis cupiditate assumenda deleniti quos nobis, placeat ratione a? Recusandae, ipsam non dolor tempore quos natus!</p>
    </li>
  </ul>
</section>
