* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header, footer {
  background-color: darkred;
  min-height: 30px;
  color: #fff;
  text-align: center;
}
footer {
  margin-top: auto;
}

main {
  padding-left: 15px;
  padding-right: 15px;
}

svg {
  border: 1px solid red;
}
