.station-2 {
  z-index: 10;
  width: em(3000px);

  & > div {
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
  }

  .clouds {
    background-image:
      url(../images/bg/clouds/cloud3.png),
      url(../images/bg/clouds/cloud1.png),
      url(../images/bg/clouds/cloud2.png);
    background-position: em(80px) top, em(740px) em(25px), em(380px) em(50px);
    background-size: em(240px) auto, em(200px) auto, em(180px) auto;
    transform: scaleX(-1);
  }

  .sanitary-train {
    left: 50%;
    transform: translate(-50%);
    bottom: em(-10px);
    width: em(2000px);
    height: em(250px);
    background-image:
      url(../images/station-2/Sani_cart.svg),
      url(../images/station-2/Sani_cart.svg),
      url(../images/station-2/Sani_loco.svg),
      url(../images/bg/trees/tree1.svg),
      url(../images/bg/trees/tree2.svg),
      url(../images/bg/trees/tree1.svg);
    background-position:
      3% 93%,
      51% 93%,
      99% 91%,
      67% 92%,
      26% 91%,
      0% 95%;
    background-size:
      em(650px) auto,
      em(650px) auto,
      em(650px) auto,
      em(130px) auto,
      em(220px) auto,
      em(100px) auto;

    &__layer {
      position: absolute;
      left: 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .woman3 {
      width: em(30px);
      height: em(50px);
      margin-left: em(108px);
      bottom: em(173px);
      background-image: url(../images/station-2/woman3.png);
    }

    .cariage1 {
      width: em(156px);
      height: em(107px);
      margin-left: em(-787px);
      bottom: em(-8px);
      background-image: url(../images/station-2/cariage1.png);
    }

    .cariage2 {
      width: em(40px);
      height: em(100px);
      margin-left: em(-493px);
      bottom: em(-8px);
      background-image: url(../images/station-2/carriage2.png);
    }

    .man2 {
      width: em(30px);
      height: em(105px);
      margin-left: em(645px);
      bottom: 0;
      background-image: url(../images/station-2/man2.svg);
    }

    .man2-2 {
      width: em(27px);
      height: em(105px);
      margin-left: em(-235px);
      bottom: em(-8px);
      background-image: url(../images/station-2/man3.svg);
    }

    .man3 {
      width: em(27px);
      height: em(100px);
      margin-left: em(276px);
      bottom: em(-8px);
      background-image: url(../images/station-2/man3.svg);
      transform: scaleX(-1);
    }

    .man4 {
      width: em(45px);
      height: em(104px);
      margin-left: em(518px);
      bottom: em(-8px);
      background-image: url(../images/station-2/man4.svg);
    }

    .woman2 {
      width: em(26px);
      height: em(100px);
      margin-left: em(300px);
      bottom: em(-8px);
      background-image: url(../images/station-2/woman2.svg);
    }

    .crowd {
      width: em(40px);
      height: em(100px);
      margin-left: em(-214px);
      bottom: em(-8px);
      background-image: url(../images/station-2/crowd.svg);
    }
  }
}

.station-2-scene {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;

  .photo {
    position: absolute;
    left: 50%;
    top: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: em(53px);
    padding-left: em(20px);
    padding-right: em(20px);
    padding-bottom: em(27px);
    color: #302a1e;
  }

  &-photo-1 {
    z-index: 12;
    width: em(335px);
    height: em(225px);
    margin-left: em(-170px);
    margin-top: em(-199px);
    transform: rotate(-8deg);
    background-image: url(../images/station-2/cards/01.png);
  }

  &-photo-2 {
    z-index: 14;
    width: em(342px);
    height: em(230px);
    margin-left: em(-182px);
    margin-top: em(-12px);
    transform: rotate(8deg);
    background-image: url(../images/station-2/cards/02.png);
  }

  &-photo-3.photo {
    z-index: 15;
    width: em(246px);
    height: em(160px);
    margin-left: em(-142px);
    margin-top: em(-167px);
    background-image: url(../images/bg/card2.png);
    padding-top: em(25px, 9px);
    padding-left: em(20px, 9px);
    padding-right: em(20px, 9px);
    padding-bottom: em(30px, 9px);

    p {
      font-size: em(12px, 9px);
      line-height: em(13px, 9px);
    }
  }

  &-photo-4.photo {
    z-index: 13;
    width: em(279px);
    height: em(184px);
    margin-left: em(-142px);
    margin-top: em(12px);
    background-image: url(../images/bg/card3.png);
    padding-top: em(25px, 9px);
    padding-left: em(40px, 9px);
    padding-right: em(40px, 9px);
    padding-bottom: em(30px, 9px);

    p {
      font-size: em(12px, 9px);
      line-height: em(13px, 9px);
    }
  }

  &-photo-5 {
    z-index: 16;
    width: em(348px);
    height: em(230px);
    margin-left: em(-182px);
    margin-top: em(-177px);
    transform: rotate(-6deg);
    background-image: url(../images/station-2/cards/03.png);
  }

  &-photo-6.photo {
    z-index: 17;
    width: em(268px);
    height: em(208px);
    margin-left: em(-142px);
    margin-top: em(30px);
    background-image: url(../images/bg/card1.png);
    padding-top: em(40px, 9px);
    padding-left: em(30px, 9px);
    padding-right: em(30px, 9px);
    padding-bottom: em(30px, 9px);

    p {
      font-size: em(12px, 9px);
      line-height: em(13px, 9px);
    }
  }

  &-photo-7 {
    z-index: 18;
    width: em(298px);
    height: em(356px);
    margin-left: em(-142px);
    margin-top: em(-125px);
    transform: rotate(4deg);
    background-image: url(../images/station-2/cards/04.png);

    p[class].card-bottom-text {
      top: 56%;
      padding-top: em(5px);
    }
  }

  &-photo-8.photo {
    z-index: 11;
    width: em(230px);
    height: em(160px);
    margin-left: em(-150px);
    margin-top: em(-170px);
    transform: rotate(4deg);
    background-image: url(../images/bg/card2-2.png);
    padding-top: em(20px, 9px);
    padding-left: em(25px, 9px);
    padding-right: em(20px, 9px);
    padding-bottom: em(20px, 9px);

    p {
      font-size: em(11px, 9px);
      line-height: em(12px, 9px);
    }
  }

  &-photo-9 {
    z-index: 10;
    width: em(365px);
    height: em(242px);
    margin-left: em(-142px);
    margin-top: em(-20px);
    transform: rotate(7deg);
    background-image: url(../images/station-2/cards/05.png);
  }
}

@media (max-width: $mobile-breakpoint) {
  .station-2-scene {
    &-photo-8.photo {
      margin-left: em(-112px);
    }

    &-photo-9 {
      margin-left: em(-182px);
    }
  }
}

@media (max-height: 400px) {
  .station-2-scene {
    &-photo-8.photo {
      margin-top: em(-125px);
    }

    &-photo-6.photo {
      margin-top: em(15px);
    }

    &-photo-1,
    &-photo-5,
    &-photo-3.photo {
      margin-top: em(-125px);
    }
  }
}
