.page-header {
  background-color: maroon;
  color: #fff;
  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      li {
        margin-right: 15px;
        padding: 5px;
      }
      a {color: #fff;}
    }
  }
}