<% include src/ejs/parts/head %>
<% include src/ejs/parts/header %>

    <h1>Second page - <b>Legolas</b></h1>
    <img class="main" alt="legolas.jpg" src=<%=require("./../img/legolas.jpg") %> />
    <a href="/" class="link">
      <span>to index page</span>
      <img width="50" height="50" class="arrow rotate" alt="arrow-next.png" src=<%=require("./../img/arrow-next.png") %> />
    </a>

<% include src/ejs/parts/footer %>
