@import 'scss/fonts';
@import 'scss/vars';

@import 'scss/normalize';
@import 'scss/bx-slider';
@import 'scss/izimodal';
@import 'scss/magnific-popup';

main {
  max-width: 750px;
  margin: auto;
}
header, footer, h2 {
  padding-top: 15px;
  text-align: center;
}

section {
  padding-bottom: 30px;
}




