@import 'scss/fonts';
@import 'scss/vars';

@import 'scss/normalize';
@import 'scss/bx-slider';
@import 'scss/izimodal';
@import 'scss/magnific-popup';
@import 'scss/animate';
@import 'scss/owl-carousel';

body {
  font-family: $font-family-sans-serif;
}

main {
  max-width: 750px;
  margin: auto;
  overflow: hidden;
}
h2 {
  text-align: center;
}
header, footer {
  background: maroon;
  color: white;
  text-align: center;
  padding: 5px;
}





