// imports
@import 'scss/vars.scss';
@import 'scss/fonts.scss';
@import 'scss/bootstrap-import.scss';
@import '~font-awesome/scss/font-awesome';
$fa-font-path: "~font-awesome/fonts" !default;

body {
  font-family: $base-font;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: $base-color;
  text-decoration: underline;
}
