@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: local('RobotoCondensed-Regular'),
       local('RobotoCondensed'),
       local('Roboto Condensed Regular'),
       url('./../static/fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}